<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBHQUnv5VzxQpzCHrFGvKDLPgkkGHp_0_0
  &q=Space+Needle,Seattle+WA">
    </iframe>

    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
    src="https://www.google.com/maps/embed/v1/directions?origin={{ori}}=&destination={{des}}&key=AIzaSyBHQUnv5VzxQpzCHrFGvKDLPgkkGHp_0_0">

    </iframe> 
</body>
</html>